@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
.home-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;


}

.home-container header{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   height: 60px;
   border-radius: 10px;
   padding: 0 24px;
   background:#DCD3B3;
   box-sizing: border-box;
}

.home-container header span{
    width: 90%;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

#logout{
    background:#DCD3B3;
    border: 1px solid #DCD3B3;
}

#paragrafo{
    width: 1000px;
    height: 70px;
    padding: 1%;
    background:#DCD3B3;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #000;
    margin-top: 40px;
    display: inline-block;
    text-align: justify;
    text-decoration: none;
    text-indent: 50px;
   
}

#mono{ 
    position: absolute;
    top: 14%;
    left: 1090px;
}

#title{
    position: absolute;
    top: 340px;
    padding: 1%;
    background: #EDE1B7 ;
}
#titulo{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
}

#visible{
    width: 50%;
    padding:1%;
    position: relative;
    margin-top: 3.8%;
    left: 55%;
    background: #EDE1B7;
    border: 1px solid #EDE1B7;
}

#search{
    display: flex;
    justify-content: space-between;
    
}

#search-box{
    width: 50%;
    height: 80px;
    max-width: 1180px;
    margin-top: 40px; 
    display: flex;
     
}

.home-container #search-box input{
    width: 400px;
    height: 40px;
    background: #ECECEC;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #808080;
    
}

.home-container #search-box button{
    width: 5%;
    height: 50%;
    background: #fff;
    border: 1px solid #fff;
    padding: 1%;
}

ul{
    list-style-type: none;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #000;
    text-align: justify; 
}

li{
    margin-top:5px;
}



