@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
.home-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;


}

.home-container header{
   align-items: center; 
   height: 60px;
   border-radius: 10px;
   padding: 0 24px;
   background:rgb(163, 163, 163);;
   box-sizing: border-box;
}

.home-container header span{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 14px;
    line-height: 55px;

}

#logout{
    background:#DCD3B3;
    border: 1px solid #DCD3B3;
    padding-top: 15px;
    margin-left: 800px;
}

#paragrafo{
    width: 1000px;
    height: 70px;
    padding: 1%;
    background:#DCD3B3;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #000;
    margin-top: 40px;
    display: inline-block;
    text-align: justify;
    text-decoration: none;
    text-indent: 50px;
   
}

#mono{ 
    position: relative;
    left: 350px;
    top: -130px;
}

#visible{
    width: 50%;
    padding:1%;
    position: relative;
    bottom: 160px;
    left: 560px;
    background: #EDE1B7;
    border: 1px solid #EDE1B7;
}

#search{
    display: flex;
}

#search-box{
    width: 50%;
    height: 80px;
    max-width: 1180px;
    margin-top: 40px;  
}

.home-container #search-box input{
    width: 400px;
    height: 40px;
    background: #ECECEC;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #808080;
    
}

.home-container #search-box button{
    padding: 0 10px;
    position: relative;
    top: 5px;
    background: #fff;
    border: 1px solid #fff;
}

ul{
    list-style-type: none;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #000;
    text-align: justify; 
}

li{
    margin-top:5px;
}



