@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Righteous&display=swap');

.register-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section{
    width: 100%;
    max-width: 380px;
}

.register-container form h1{
    font-family: 'Righteous', cursive;;
    font-size: 32px;
    color: #927D36;
    text-align: center;
}

.register-container section.sec img{ 
    position: relative;
    left: -125px;
    top: -80px;
  }

  .back-link svg{
    margin-right: 9px;
  
  }